.postList__li {
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        top: 45%;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #1f1f1f;
        transition: all .2s cubic-bezier(.4,0,1,1);
    }
    &:hover:before {
        width: 10px;
        left: 0;
    }
}
.postList__li--meta {
    color: #bbb;
    font-size: 13px;
}
.postList--pagination {
    border-top: 1px solid #f1f1f1;
}
.postList--moreLink {
    color: #3f3d55;
}